<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Malaria Detection Web App</title>
</head>
<body>



    <div class="col-sm">
      <h1 ><div style = "text-align:center"><span class="badge badge-danger"><font size = 80>Malaria Detection</font></span></div></h1>
    </div>
    <hr>
    <br><br><br><br>
    <div class="col-sm">
      <form action = "/predict" method = "POST" enctype="multipart/form-data">
          <div style = "text-align:center">
          <input type="file" name="file">
          <input class = "btn btn-primary" type = "submit" value="Upload">
          </div>
      </form>
    </div>



</body>
</html>
